body {
background-color: whitesmoke
}

.ctr-scores {
  background-color: rgb(224, 172, 17);
  padding: 10px;
  padding-left: 20px;
}

.ctr-buttons {
  background-color: rgb(195, 91, 5);
  padding: 10px;
}
#q-buttons {
  background-color: white;
  color: gray;
  padding: 20px;
  display: flex;
}




